page-intro {
 
  .swiper-pagination-bullet-active{
  background: rgb(2, 78, 145);
  }
  .nextSlide{
  	position: absolute;
    bottom: 10px;
    right: 8%;
    font-size: 14px;
  }
  .prevSlide{
  	position: absolute;
  	bottom: 10px;
  	left: 8%;
  	font-size:14px;
  }
  .nextSlide, .prevSlide
  {
  	color: 	rgb(2, 78, 145);
  }
}
