<ion-header>
 
    <div class="top" > <!-- *ngIf="!isSearchbarOpened" -->
        <img class="logo" src="images/logo.png" (click)="openAboutPage()" />

         <!-- <button  color="light" clear class="iconbutton mapicon"  ><ion-icon class="exit" ios="ios-search" md="md-search"></ion-icon></button>  -->  


         
   <!--       <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" style="position: absolute;
    top: 0;
    height: 45px;
    right: 0;
    width: 80%;"></ion-searchbar>      
       
         

               <button  color="light" clear class="iconbutton mapicon" *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true"   > <ion-icon class="exit" ios="ios-search" md="md-search"></ion-icon>
               </button> -->
 
         
       
    </div>

 
</ion-header>


<ion-content padding id="article">
        <div class="middle">
        <h1>О мероприятии</h1>
      </div>  
  <ion-card >
    <article style="padding-bottom: 10px;
    margin: 10px;">
      <p>
  17 февраля пройдет Молодежный Крестный ход, приуроченный ко Всемирному Дню православной молодежи.<br><br>

Празднование Международного дня православной молодежи в Санкт-Петербурге проходит шестой год подряд при поддержке Комитета по молодежной политике и взаимодействию с общественными организациями. Сам праздник в этом году выпал на 15 февраля, будний день, поэтому крестный ход было решено перенести на воскресенье, чтобы как можно больше желающих смогли принять в нем участие. Богослужение возглавит митрополит Санкт-Петербургский и Ладожский Варсонофий. <br><br>

Идея празднования Дня православной молодежи принадлежит Всемирному православному молодежному движению «Синдесмос», учрежденной в 1952 году во Франции. Представители православной молодежи во всем мире стараются ежегодно отмечать свой праздник с учетом национальных особенностей каждой страны. С 2001 года этот праздник получает распространение и в России. <br><br>

Шествие пройдет по маршруту от Храма Воскресения Христова («Спаса-на-Крови») до Казанского кафедрального собора. Праздник продолжит развлекательно-познавательная программа на территории РГПУ им. А. И. Герцена. <br><br>

Функции волонтеров:<br>
- Организация формирования и движения Крестного хода (шествия)<br>
- Навигация колонны<br><br>

Занятость: с 7:15 до 14:00 <br>
Возрастное ограничение: от 15 лет<br><br>

Волонтеры получат:<br>
+ Благодарственное письмо от Санкт-Петербургской Епархии <br>
+ Горячее питание (полевая кухня) и чай после шествия<br>
+ Возможность принять участие в божественной литургии и православном шествии<br>
+ Элементы экипировки ЧМ-2018 <br>
    </p>
  </article>
</ion-card>
      <div class="middle">
        <h1>Подача заявки   </h1>
      </div>  


  <article class="loginform" style="margin-bottom: 100px;">


  <label>Номер телефона для связи</label><br> 
    <input type="text"    ><br> <br>
 

 <label>Чем Вас заинтересовало мероприятие?</label><br> 
    <input type="text"   > <br> <br> 
 

<button class="signin"     >Подать заявку</button>

  </article>

 

 
<!-- 
<div padding>
  
  <button ion-button  (click)="register()">Register</button>
</div> -->
</ion-content>
        <div id="bottom">

                <button ion-button color="light" clear class="iconbutton" (click)="openLoginPage()">
                    <div class="profile">
                        <ion-icon class="ionicicons" md="md-contact" ios="ios-contact"></ion-icon>
                    </div>
                </button>

                <button  ion-button color="light" clear class="iconbutton" (click)="openAreyouinPage()">
                    <div class="padnote">
                        <ion-icon class="ionicicons" ios="ios-bookmarks" md="md-bookmarks"></ion-icon>
                    </div>
                </button>

                <button  ion-button color="light" clear class="iconbutton" >
                    <div class="news">
                        <ion-icon class="ionicicons" (click)="openHomePage()" md="md-home" ios="ios-home"></ion-icon>
                    </div>
                </button>

                <button  ion-button color="light" clear class="iconbutton" (click)="openMapPage()">
                    <div class="menu-heart">
                      <ion-icon class="ionicicons" ios="ios-navigate" md="md-navigate"></ion-icon>
                    </div>
                </button>

                <button menuToggle ion-button color="light" clear class="iconbutton">
                    <div class="burger" >
                        <ion-icon class="ionicicons" md="md-menu" ios="ios-menu"></ion-icon>
                    </div>
                </button>

        </div>